:root {
    --box-shadow: 0px 1px 4px 1px #a5a4a4; 
    --income: green;
    --expense: red; 
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em, bold;
    margin-bottom: 10px;
}
.balance-container {
    display:block;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

#balance {
    font-size: 1.8em;
    justify-content: right;
}

.cashflow-container {
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.income-container {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    border-radius: 10px;
}

.expense-container {
    padding-left: 20px;
    border-radius: 10px;
}

#income, #expense {
    font-size: 1.3em;
}

#income {
    color: var(--income);
}

#expense {
    color: var(--expense);
}

.transaction-container {
    margin-top: 40px;
    border-radius: 10px;
}

#transaction {
    border-radius: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#transaction li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#transaction li span {
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

#transaction li .income-amt {
    display: inline-block;
    background-color: var(--income);
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}

#transaction li .expense-amt {
    display: inline-block;
    background-color: var(--expense);
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}

#transaction li button {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    box-shadow: none;
}

.form-container {
    margin-top: 40px;
    border-radius: 10px;
    font-size: medium;
}

.form-container form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.form-container form label {
    padding-bottom: 10px;
    border-radius: 10px;
}

.form-container form input {
    height: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form-container form button {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size:  1.2em;
    color: #ffff;
    border-radius: 10px;
}

#name, #amount {
    font-size: medium;
}